#experience {
    height: 675px;
    width: 100%;
    position: relative;
    background: #141A1A;
    color: white;
}
#experience h2 {
    position: absolute;
    text-transform: uppercase;
    font-family: RobotoBold;
    font-size: 50px;
    width: 831px;
    left: 50%;
    margin-left: -415px;
    top: 75px;
}
.job {
    width: 350px;
}
#atgs {
    position: absolute;
    top: 225px;
    left: 50%;
    margin-left: -350px;
}
#ewb {
    position: absolute;
    top: 225px;
    left: 50%;
    margin-left: 115px;
}
#sms {
    position: absolute;
    top: 350px;
    left: 50%;
    margin-left: -350px;
}
#stjohns {
    position: absolute;
    top: 350px;
    left: 50%;
    margin-left: 115px;
}
#amos {
    position: absolute;
    top: 475px;
    left: 50%;
    margin-left: -350px;
}
.icon {
    position: absolute;
    left: -75px;
    height: 60px;
    top: 20px;
}
.org {
    color: white;
    text-transform: uppercase;
    position: relative;
    font-size: 12pt;
}
.jobTitle {
    position: relative;
    top: -19px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 9pt;
}
.when {
    text-transform: capitalize;
    position: relative;
    top: -44px;
    font-family: RobotoThin;
    text-decoration: none;
    font-size: 9pt;
}
@media screen and (max-width: 975px) {
    #experience {
        height: 1000px;
        width: 100%;
        position: relative;
        color: white;
    }
    #experience h2 {
        position: absolute;
        text-transform: uppercase;
        font-family: RobotoBold;
        font-size: 50px;
        width: 420px;
        left: 50%;
        margin-left: -210px;
        top: 75px;
    }
    #atgs {
        position: absolute;
        top: 250px;
        left: 50%;
        margin-left: -130px;
    }
    #ewb {
        position: absolute;
        top: 400px;
        left: 50%;
        margin-left: -130px;
    }
    #sms {
        position: absolute;
        top: 550px;
        left: 50%;
        margin-left: -130px;
    }
    #stjohns {
        position: absolute;
        top: 700px;
        left: 50%;
        margin-left: -130px;
    }
    #amos {
        position: absolute;
        top: 850px;
        left: 50%;
        margin-left: -130px;
    }
}