#resume {
    background: #F0F0F0;
    background-size: cover;
    height: 80%;
    width: 100%;
    position: relative;
}
#resume h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -78px;
    width: 250px;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 36px;
    font-family: RobotoBold;
}
#resume h5 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 50px;
    margin-top: -35px;
    font-family: RobotoLight;
    color: grey;
    font-size: 16px;
}
#resume a {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    border-radius: 5px;
    padding: 5px 10px 6px 10px;
    background: black;
    color: white;
    text-decoration: none;
    margin-left: 50px;
}
#resume h6 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -8px;
    color: grey;
    text-decoration: none;
    margin-left: 152px;
    font-size: 20px;
}
#resume img {
    position: absolute;
    height: 350px;
    left: 50%;
    margin-left: -350px;
    top: 50%;
    margin-top: -200px;
}
@media screen and (max-height: 700px) {
    #resume {
        background: #F0F0F0;
        background-size: cover;
        height: 540px;
        width: 100%;
        position: relative;
    }
}
@media screen and (max-width: 679px) {
    #resume h3 {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -80px;
        width: 200px;
        margin-left: 50px;
        text-transform: uppercase;
        font-size: 28px;
    }
    #resume h5 {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: 50px;
        margin-top: -45px;
        font-family: RobotoLight;
        color: grey;
        font-size: 16px;
    }
    #resume a {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: 3px;
        border-radius: 5px;
        padding: 5px 10px 6px 10px;
        background: black;
        color: white;
        text-decoration: none;
        margin-left: 50px;
    }
    #resume h6 {
        margin-top: 5px;
    }
}