#school {
    background: url(../images/work.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    height: 75%;
    width: 100%;
    margin-top: -41px;
}
#school h2 {
    position: relative;
    text-align: center;
    top: 20%;
    text-transform: uppercase;
    font-size: 50px;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    color: black;
    font-family: RobotoBold;
}
#school p {
    text-align: center;
    width: 45%;
    color: black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20%;
    font-family: RobotoLight;
    font-size: 18px;
}
#WaterlooSeal img {
    height: 125px;
    bottom: 23%;
    width: auto;
    position: absolute;
    opacity: 0.5;
    left: 50%;
    margin-left: -170px;
}
#EngSeal img {
    height: 125px;
    bottom: 23%;
    width: auto;
    position: absolute;
    opacity: 0.5;
    right: 50%;
    margin-right: -170px;
}
#WaterlooSeal img:hover {
    opacity: 0.9;
}
#EngSeal img:hover {
    opacity: 0.9;
}
@media screen and (max-width: 1250px) {
    #school p {
        text-align: center;
        width: 75%;
        color: black;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 19%;
        font-family: RobotoLight;
    }
}
@media screen and (max-width: 1000px) {
    #WaterlooSeal img {
        height: 125px;
        width: auto;
        position: absolute;
        bottom: 15%;
        left: 50%;
        margin-left: -170px;
    }
    #EngSeal img {
        height: 125px;
        width: auto;
        position: absolute;
        bottom: 15%;
        right: 50%;
        margin-right: -170px;
    }
}
@media screen and (max-width: 700px) {
    #school h2 {
        position: relative;
        text-align: center;
        top: 15%;
        text-transform: uppercase;
        font-size: 50px;
        width: 400px;
        left: 50%;
        margin-left: -200px;
        color: black;
        font-family: RobotoBold;
    }
    #school p {
        text-align: center;
        width: 85%;
        color: black;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 13%;
        font-family: RobotoLight;
        font-size: 18px;
    }
}
@media screen and (max-height: 850px) {
    #school {
        background: url(../images/work.png) center no-repeat;
        background-size: cover;
        position: relative;
        height: 650px;
        width: 100%;
        margin-top: -41px;
    }
}